body{
	color:gray;
	margin:20px;
	
}

.picture{
	max-height:300px;
	margin:20px;
	float:left;
}
.description{
	padding-top:20px;
	color:teal;
}
.tags{
	clear:both;
}

.info{
	width:50%;
	text-indent:50px;
}
.flash-message{
	color:white;
}