body{
	color:gray;
	margin:20px;
	/*background-color:#63C9C4;*/
	
}
hr{
	color:#63C9C4;
	height:15px;
}
.mainsite{
	background-color:white;
}

.flash-message{
	color:black;
}

.teal{
	color:lightseagreen;
}

.yellow{
	color:#FFCB00;
}

.header{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#FFCB00;
	
}

/*For lists*/
.picture{
	max-height:300px;
	margin:20px;
	float:left;
}

.description{
	padding-top:20px;
	color:teal;
}
.tags{
	clear:both;
}

.info{
	width:50%;
	text-indent:50px;
}
/*for profile*/
.profile-heading{
	float:left;
}